["I can't believe you're all still here. Do you have nothing better to do?.",
    "Honestly. What is the point of humans?",
    "I think you ought to know I'm feeling very depressed",
    "Here I am, brain the size of a planet, and they ask me to look after your cretins.",
    "It gives me a headache just trying to think down to the level of you lot."]